<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/users-list"
      >Voir les Produits</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/add-user"
      >Ajouter produit</a
    >
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" routerLink="/recherch-user"
      >Chercher produit</a
    >
    </li>
  </ul>
</nav>
<div class="container">
  <br>
  <h2 style="text-align: center;">{{title}}</h2>
  <hr>  
  <router-outlet></router-outlet>
</div>

<router-outlet></router-outlet>
