<div class="container">
  <div
    class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
  >
    <h2 class="h2">List des produits</h2>
  </div>

  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let produit of Produit; let i = index">
          <th scope="row">{{ produit.id }}</th>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.quantite }}</td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-primary"
              routerLink="/edit-user/{{ produit.id }}"
            >
              Editer
            </button>
            <button class="btn btn-sm btn-danger" (click)="delete(produit.id, i)">
              Suprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
