<form (ngSubmit)="onSubmit()">
    <input type="text" [(ngModel)]="searchQuery" name="searchQuery" placeholder="Entrez votre recherche ici">
    <button type="submit">Rechercher</button>
  </form>
  
  <div class="table-responsive">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nom</th>
          <th scope="col">Prix</th>
          <th scope="col">Quantité</th>
          <th class="text-center" scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr >
          <th scope="row">{{ produit.id }}</th>
          <td>{{ produit.nom }}</td>
          <td>{{ produit.prix }}</td>
          <td>{{ produit.quantite }}</td>
          <td class="text-center">
            <button
              class="btn btn-sm btn-primary"
              routerLink="/edit-user/{{ produit.id }}"
            >
              Editer
            </button>
            <button class="btn btn-sm btn-danger" (click)="delete(produit.id, 1)">
              Suprimer
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  