<div class="row justify-content-center mt-5">
  <div class="col-md-4">
    <form [formGroup]="updateForm" (ngSubmit)="onUpdate()">
      <div class="form-group">
        <label>Nom</label>
        <input
          class="form-control"
          type="text"
          formControlName="nom"
          required
        />
      </div>

      <div class="form-group">
        <label>Prix</label>
        <input
          class="form-control"
          type="int"
          formControlName="prix"
          required
        />
      </div>

      <div class="form-group">
        <label>Quantite</label>
        <input
          class="form-control"
          type="int"
          formControlName="quantite"
          required
        />
      </div>
      <br>
      <div class="form-group">
        <button class="btn btn-primary btn-block" type="submit">Update</button>
      </div>
    </form>
  </div>
</div>
